PISCOFINS RCDATA "PISCOFINS.csv"
IPI RCDATA "IPI.csv"
ICMS RCDATA "ICMS.csv"
ICMSORIGEM RCDATA "ICMSORIGEM.csv"
CFOP RCDATA "CFOP.csv"
CEST RCDATA "TabelaCEST.csv"
NCM RCDATA "TabelaIBPTaxSP.csv"
CIDADES RCDATA "CIDADES.csv"
